# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

# Logs
*.log

# Testes/cache
.pytest_cache/
.mypy_cache/
.coverage

# Build
build/
dist/
*.egg-info/

# Variáveis de ambiente
.env
.env.*

# Arquivos temporários
*.tmp
*.swp
